@import url("loader.css");

body {
  background: #282828;
}

h3 {
  color: #fff;
}

.username {
  text-align: center;
}

nav .nav-wrapper {
  border-bottom: 2px solid #2ebd59;
  display: flex;
}
nav .nav-wrapper li {
  width: 100%;
}

nav .nav-wrapper ul {
  width: 122px;
  background: #2ebd59;
  text-transform: uppercase;
}

.material-icons {
  cursor: pointer;
  margin-right: 5px;
}

.image-grid {
  justify-content: center;
  flex-flow: row wrap;
  display: flex;
}

.image-grid .image-grid-item {
  overflow: hidden;
  flex: 0 1 170px;
  width: 23%;
  margin: .5vw;
}

.image-grid img {
  border-radius: 150px;
  width: 100%;
  height: auto;
}

.image-grid .image-grid-item a {
  display: block;
  color: #2ebd59;
}

.image-grid .image-grid-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  text-align: center;
}

.input-field {
  width: calc(100% - 120px);
}

.input-field input[type=search] {
  background: #141414;
  color: #fff;
}

.input-field input[type=search]:focus {
  background: #141414;
  color: #2ebd59;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 0 #fff;
}

.error {
  padding: 20px 0;
  color: #e3170d;
  text-align: center;
}

.follow-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.collection {
  border-color: #282828;
}

.collection .collection-item {
  color: #fff;
  background: #242424;
  border-color: #282828;
  display: flex;
  align-items: center;
}

.track-row {
  cursor: pointer;
}

.track-row .material-icons {
  color: #2ebd59;
}

.btn {
  background: #2ebd59;
}

.btn:hover, .btn-large:hover {
    background-color: rgba(46,189,89,0.8);
}
