@import url("loader.css");

.brand-logo {
  font-family: 'Rubik', sans-serif;
}

.material-icons {
  cursor: pointer;
  margin-right: 5px;
}

.image-grid {
  flex-flow: row wrap;
  display: flex;
}

.image-grid div {
  flex: auto;
  width: 200px;
  margin: .5vw;
}

.image-grid div img {
  width: 100%;
  height: auto;
}

.input-field input[type=search] {
  background: #282828;
  color: #fff;
}

.input-field input[type=search]:focus {
  background: #242424;
  color: #1ed760;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 0 #fff;
}

/*
.input-field input[type=search]:-webkit-placeholder {
  color: pink;
}*/
